<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<!--    <link href="/css/bootstrap.css" rel="stylesheet"/>-->
<!--    <link href="/css/bootstrap-utilities.css" rel="stylesheet"/>-->
<!--    <link href="/css/bootstrap-utilities.rtl.css" rel="stylesheet"/>-->
<!--    <script src="/js/bootstrap.js"></script>-->
    <link href="/css/out.css" rel="stylesheet">
<!--    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>-->
    <title>Demo</title>
</head>
<body>


<h1 class="f">
    <div class="">test</div>
    <div class="">test</div>
    <div class="">test</div>
</h1>
<footer th:replace="~{/footer}"></footer>

</body>
</html>